#intro {
    background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
    height: 100vh;
}

.captcha-block {
    display: inline-flex;
    flex-direction: row;
}

#captcha-input {
    width: 200px;
    margin: 10px;
}

#captcha-img {
    width: 200px;
}

#post-otp-gen {
    display: none;
    margin-top: 15px;
}

#final-submit {
    margin: 15px;
}

@media (max-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
    .captcha-block {
        display: flex;
        flex-direction: column;
    }
}